<html>
<head>
    <title>Vue.js Pet Depot</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="products.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="manifest" href="petstore.webmanifest">
    <style>
        .product {
            border: 1px grey solid;
            padding: 20px;
            margin: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <header>
        <h1 v-text="sitename"></h1>
        <button v-on:click='showCheckout'>
            {{cartItemCount}}
            <span class="fas fa-cart-plus"></span>
            Checkout
        </button>
    </header>
    <main>
        <div v-if="showProduct">
            <div class='product' v-for="product in sortedProducts">
                <figure>
                    <img v-bind:src="product.image">
                </figure>
                <h2 v-text="product.title"></h2>
                <p v-html="product.description"></p>
                <p>Price: {{product.price}}</p>
                <p>Available Stock: {{product.availableInventory}}</p>
                <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>
                <span v-if='product.availableInventory === cartCount(product.id)'>All out!</span>
                <span v-else-if="product.availableInventory - cartCount(product.id) < 10">Only {{product.availableInventory - cartCount(product.id)}} left!</span>
                <span v-else>Buy now!</span>
                <div>
                    <span v-for='n in product.rating'>★</span>
                    <span v-for='n in 5-product.rating'>☆</span>
                </div>
            </div>
        </div>
        <div v-else>
            <h2>Checkout</h2>
            <p>Items in cart: {{cartItemCount}}</p>
            <p>
                <strong>First Name:</strong>
                <input v-model.trim="order.firstName"/>
            </p>
            <p>
                <strong>Last Name:</strong>
                <input v-model="order.lastName"/>
            </p>
            <strong>Address: </strong> <input v-model="order.address"/>
            </p>
            <p>
                <strong>City: </strong> <input v-model="order.city"/>
            </p>
            <strong>State:</strong>
            <select v-model="order.state">
                <option disabled value="">State</option>
                <option v-for="(state, key) in states" v-bind:value="state">
                    {{key}}
                </option>
            </select>
            <p>
                <strong>ZIP/Postal Code:</strong> <input v-model.number="order.zip" type="number"/>
            </p>
            <p><input type="checkbox" id="gift" v-model="order.gift"></p>
            <p><input type="radio" id="home" value="Home" v-model="order.method"> Home</p>
            <p><input type="radio" id="business" value="Business" v-model="order.method"> Business</p>
            <button v-on:click="submitForm">Place Order</button>
        </div>
    </main>
</div>
<script type="text/javascript">
    var webstore = new Vue({
        el: '#app',
        data: {
            sitename: "Vue.js Pet Depot",
            products: products,
            showProduct: true,
            cart: [1001, 1001, 1002, 1003, 1003, 1003],
            order: {
                firstName: '',
                lastName: '',
                address: '',
                city: '',
                zip: '',
                state: '',
                method: 'Home',
                gift: 'Send as gift',
                sendGift: 'Send as gift',
                dontSendGift: 'Do not send as a gift'
            },
            states: {
                AL: 'Alabama',
                AR: 'Arizona',
                CA: 'California',
                NV: 'Nevada'
            }
        },
        methods: {
            addToCart: function (product) {
                this.cart.push(product.id);
            },
            showCheckout() {
                this.showProduct = !this.showProduct;
            },
            submitForm() {
                alert('Order Submitted!');
            },
            canAddToCart(product) {
                return product.availableInventory > this.cartCount(product.id);
            },
            cartCount(id) {
                let count = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++;
                    }
                }
                return count;
            }
        },
        computed: {
            cartItemCount() {
                return this.cart.length || "";
            },
            sortedProducts() {
                        function compare(a,b) {
                            if (a.price > b.price)
                                return 1;
                            if (a.price < b.price)
                                return -1;
                            return 0;
                        }
                        return this.products.sort(compare);
                    }
        }
    });
</script>
</body>
</html>
